@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Styles for header */
.header__body {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #000;
}

.header__nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.header__nav ul li:first-child {
  margin-right: 85px;
}
.header__nav ul li:last-child {
  margin-left: 85px;
}
.header__nav ul a {
  color: white;
  opacity: 0.8;
  font-size: 14px;
}
.header__nav ul a:hover {
  font-weight: 500;
  opacity: 1;
  text-decoration: underline;
}
.header__nav ul img {
  margin: 0 100px 0 100px;
}

/* Styles for intro section*/
.intro__body {
  width: 100%;
  height: calc(100vh - 95px);
  background: url(img/intro/bg-image.png) no-repeat center center/cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.intro__usp {
  margin: 0 0 62px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.intro__title h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 4.5px;
  color: #fff;
}

.intro__description {
  margin: 0 auto 30px auto;
  max-width: 504px;
  text-align: center;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.intro__btn {
  width: 184px;
  height: 46px;
  padding: 15px 47px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #00AFDB;
}
.intro__btn:hover {
  background: #009CC2;
  cursor: pointer;
}

.intro__footer {
  margin-bottom: 90px;
}
.intro__footer img {
  margin: 0 15px;
}
.intro__footer img:hover {
  opacity: 0.5;
}

/* Styles for start section */
.start__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-width: 1062px;
  margin: 120px auto 140px auto;
}

.start__content {
  margin-right: 20px;
}

.start__title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.start__description {
  margin: 20px 0 30px 0;
  width: 407px;
  height: 80px;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}

.start__btn {
  padding: 15px 47px;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.start__btn:hover {
  background: #009CC2;
  cursor: pointer;
}

/* Styles for community section*/
.community__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 504px;
  width: 100%;
  background-color: #F5F6F7;
  line-height: 90px;
  text-align: center;
  font-size: 60px;
}

/* Styles for learn section */
.learn__body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-width: 953px;
  margin: 120px auto 140px auto;
}

.learn__content {
  margin-left: 20px;
}

.learn__title h2 {
  width: 100%;
  height: 28px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.learn__description {
  width: 407px;
  height: 60px;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
  margin: 30px 0 30px 0;
}

.learn__btn {
  padding: 15px 47px;
  width: 180px;
  height: 46px;
  background: #00AFDB;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.learn__btn:hover {
  background: #009CC2;
  cursor: pointer;
}

/* Style for news section */
.news__body {
  position: relative;
  background: url(img/news/background.png) no-repeat center center/contain;
  width: 100%;
  height: 0;
  padding-top: 32.75%;
}

.news__content {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 203px);
}
.news__content form {
  display: -webkit-box;
  display: flex;
}

.news__title {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.news__text input {
  height: 46px;
  width: 340px;
  padding: 13px 24px;
  color: rgba(55, 55, 55, 0.5);
}
.news__text input:focus {
  color: #373737;
}

.news__btn button {
  height: 46px;
  width: 66px;
  background-color: #00AFDB;
  font-size: 16px;
  color: #FFFFFF;
}
.news__btn button:hover {
  background-color: #009CC2;
}

/* Style for download section */
.download__body {
  width: 100%;
  height: 464px;
  padding: 120px 0 180px 0;
  background-color: #F5F6F7;
}

.download__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.download__description {
  margin: 20px 0 30px 0;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #4E4E4E;
}

.download__wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.download__btn {
  display: -webkit-box;
  display: flex;
  margin: 0 15px;
}
.download__btn .download__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 127px;
  height: 46px;
  background: #00AFDB;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.download__btn .download__text:hover {
  background: #009CC2;
  cursor: pointer;
}
.download__btn .download__icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 59px;
  background: #009CC2;
  font-size: 16px;
  color: #fff;
}
.download__btn .download__icon:hover {
  cursor: pointer;
}

/* Styles for footer */
.footer__body {
  width: 100%;
  height: 185px;
  background-color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
}

.footer__nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.footer__nav li {
  margin: 0 20px;
}
.footer__nav a {
  font-size: 14px;
  color: #FFFFFF;
}
.footer__nav a:hover {
  opacity: 0.5;
}

.footer__description {
  color: #818181;
}